@use '../custom' as *;

.tracks {
    h2 {
        font-size: 2.625rem;
        font-weight: 600;
        color: $white;
        text-transform: capitalize;

        span {
            color: $primary;
        }
    }

     a {
        text-transform: capitalize;
        font-size: 1.3125rem;
        font-weight: 800;
        color: $white;
        text-decoration: none;

        i {
            color: $primary;
            margin-left: 17px;
        }

        .tracks-cards {
            margin-top: 62px;
        }
    }

    @include media-breakpoint-down(lg) {
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
        }

        &-cards {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }

        .card-tracks {
            margin-bottom: 50px;
        }
    }
}
