@use '../custom' as *;

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: $background;
    overflow-x: hidden;
}

html {
    @include media-breakpoint-down(lg) {
        overflow-x: hidden;
    }
}