@use '../custom' as *;


// Intro Section
.card-intro {
    background-color: transparent;
    border: 1px solid $border;
    border-radius: 10px;
    width: 361px;
    height: 78px;
    margin-bottom: 11px;
    
    span {
        display: inline-block;
        margin-left: 17px;
        margin-right: 32px;
    }

    a {
        text-decoration: none;
    }

    .arrow {
        padding-right: 7px;
    }
}

// tracks section
.card-tracks {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 262px;
    height: 262px;
    border: none;

    h5 {
        font-family: 'Open Sans', sans-serif;
        color: $white;
        font-size: 0.9375rem;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 0;
        width: 103px;
        border-radius: 5px;
        margin-top: 8px;
        margin-left: 10px;
        padding: 9px 0 8px;
    }
    &-body {
        position: relative;
        color: $white;
        font-size: 0.9375rem;
        top: 162px;
        left: 31px;

        i {
            font-size: 2.5rem;
            margin-right: 10px;
        }

        p {
            font-weight: 300;
            margin-bottom: 0;
        
            span {
                font-weight: 800;
                margin-left: 0;
            }
        }
    }
}

// voice tracks
.card-voice {
    background: url("/images/tracks/voice\ track\ bg.png");
  
    h5 {
        background-color: $voice;   
    }
}

// music tracks
.card-music {
    background: url("/images/tracks/music\ track\ bg.png");

    h5 {
        background-color: #2280d0;
    }
}

// audio tracks
.card-audio {
    background: url("/images/tracks/audio\ track\ bg.png");

    h5 {
        background-color: #5611b9;
    }
}

// WaveVideo
.card-video {
    background: url("/images/tracks/wavevideo\ bg.png");

    h5 {
        background-color: #00b1b3;
    }
}
